.about-us {
    position: relative;
    margin-bottom: clamp(3rem, 19%, 16.875rem);
    margin-top: -11.7rem;

    &__background {
        max-width: 100%;
        display: block;
        transform: translateY(30%);
    }

    &__content-box {
        position: relative;
        margin: 0 auto;
        width: clamp(90%, 100px, 81%);
        background-color: #FFF;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        padding-bottom: 3.125rem;
        max-width: 700px;
        z-index: 5;

        @mixin atLarge {
            max-width: 100%;
        }
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        margin-top: 4.063rem;
        margin-right: clamp(2rem, 10%, 3.75rem);
        margin-left: clamp(2rem, 10%, 3.75rem);
        margin-bottom: 3.125rem;
        gap: 3.75rem;

        @mixin atLarge {
            flex-direction: row;  
        }

        & p {
            flex: 1 1 0px;
            line-height: 1.2;
            font-size: clamp(0.8rem, 2vw, 1rem);
        }
    }

    &__organizer-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1.44rem;
        margin-right: min(5%, 3.75rem);
        margin-left: min(5%, 3.75rem);
    }
}

