.about-us {
    position: relative;
    padding-bottom: 3.125rem;
    margin-bottom: 12.5rem;

    &__background {
        height: 620px;
        position: absolute;
        top: -400px;
        right: 0;
        display: block;
        z-index: -1;
    }

    &__content-box {
        margin: 0 auto;
        width: 81%;
        background-color: #FFF;
    }

    &__text-box {
        display: flex;
        flex-direction: row;
        margin-top: 4.063rem;
        margin-right: 3.75rem;
        margin-left: 3.75rem;
        margin-bottom: 3.125rem;
        gap: 3.75rem;

        & p {
            flex: 1 1 0px;
            line-height: 1.2;
        }
    }

    &__organizer-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1.44rem;
        margin-right: 3.75rem;
        margin-left: 3.75rem;
        margin-bottom: 1rem;
    }
}

