.bicolor {
    overflow: visible;
    margin-bottom: -88px;
  }

.bicolor h2 {
    position: relative;
    display: block;
    top: -102px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
}
  
.bicolor h2:before,
.bicolor h2:after {
    content:attr(data-text);
  }
  
.bicolor h2:after{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
.bicolor h2:after {
    color: black ;
    clip-path: inset(60% 0% 0% 0%);
  }