.bicolor {
    overflow: visible;
  }

.bicolor h2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
}
  
.bicolor h2:before,
.bicolor h2:after {
    content:attr(data-text);
  }
  
.bicolor h2:after{
  color: black ;
  clip-path: inset(60.5% 0% 0% 0%);
  text-align: center;
  position: absolute;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  }