.footer {
  padding-top: min(4%, 3.125rem);
  color: #fff;
  background-color: black;

  & img {
    display: block;
    height: min(10%, 50px);
    width: min(10%, 50px);
    margin: 0 auto;
  }

  & p {
    padding-top: min(4%, 3.125rem);
    padding-bottom: min(3%, 2.188rem);
    text-align: center;
    font-size: 0.875rem;
  }
}
