.footer {
    background-color: black;
    color: #FFF;
    padding-top: 3.125rem;
    
    & img {
        height: 50px;
        width: 50px;
        display: block;
        margin: 0 auto;
    }

    & p {
        padding-top: 3.125rem;
        font-size: 0.875rem;
        text-align: center;
        padding-bottom: 2.188rem;
    }
}