.schedule {
  margin-bottom: min(16.5%, 12.5rem);

  &__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: max(-90px, -8%);
    transform: translateY(20%);

    & h3 {
      margin-left: 1rem;
    }

    @mixin atSmall {
      flex-direction: row;
      align-items: flex-end;
      transform: translateY(-42%);
      gap: 2.813rem;

      & h3 {
        margin-left: 0;
      }
    }
  }

  &__event {
    margin-left: min(7%, 5rem);
    margin-right: min(7%, 5rem);

    &--margin-t-small {
      margin-top: 1.875rem;
    }
  }

  &__events-box {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding-top: clamp(4rem, 18%, 13.563rem);
  }
}
