.section-title {
  font-size: min(4vw, 3rem);
  font-weight: 600;
  line-height: 1;

  &--align-left {
    text-align: left;
  }

  &--line-height-s {
    line-height: 0.7;
  }

  &--align-center {
    text-align: center;
  }

  &--translateY {
    position: relative;
    max-width: 100%;
    display: block;
    transform: translateY(-61%);
    margin-bottom: max(-90px, -8%);
  }

  &--bicolor {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);

    &::before,
    &::after {
      content: attr(data-text);
    }

    &::after {
      color: black;
      clip-path: inset(60.5% 0% 0% 0%);
      text-align: center;
      position: absolute;
      top: 0px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}
