.section-title {
        font-size: 10.625rem;
        font-weight: 600;
        line-height: 1;

        &--align-left {
            text-align: left;
        }

        &--line-height-s {
            line-height: 0.7;
        }

        &--align-center {
        text-align: center;
        }
    }