.subtitle {
    margin-bottom: clamp(10rem,14%,12.5rem);
    margin-top: min(16%,13.75rem);
    padding-top: min(7%, 6.25rem);
    padding-bottom: min(6%, 5rem);

    &__english {
        font-size: min(7vw,6.25rem);
        font-weight: 200;
        font-style: italic;
        line-height: 1.2;
    }

    &__japanese {
        font-family: 'Rampart One', cursive;
        font-size: clamp(1rem,1.5vw,1.25rem);
        line-height: 1.2;
    }

    &--align-right {
        text-align: end;
    }

    &--align-center {
        text-align: center;
    }

    &--top-margin {
        margin-top: 1.5rem;
    }
}